<h1>About</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      This is a web app that resembles the Pinterest site, which ironically i have never visited.
      But that's never stopped anyone right?
    </p>
    <div>
      <h2>Contact me at jacknkiarie@gmail.com</h2>
    </div>
  </div>
</div>


<blockquote>
  <strong>NOTE:</strong> These are not my photos. Their credit and ownership goes to their respective owners.
</blockquote>