@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  background-color: lightgray;
}

p {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  font-size: 3em;
  padding-bottom: 30px;
}

/* navbar */
.navbar-default {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  padding-top: 9px;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    color: plum;
    text-decoration: none;
  }
}

/* alerts */
.alert {
  margin-top: 20px;
}

/* index page */
#pins {
  margin: 0 auto;
  width: 100%;

  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 30px;
      margin: 0;
    }
  }
}

/* show page */
.pin-title {
  font-size: 3em;
  font-weight: bold;
  color: plum;
  text-align: center;
  padding-bottom: 30px;
}
#pin_show {
  padding-top: 50px;

  img {
    max-width: 100%;
    width: 100%;
  }
  .panel-heading {
    padding: 0;
  }
  .panel-footer {
    .user {
      padding: 0;
    }
    padding-bottom: 20px;
  }
  .btn-default {
    padding-bottom: -10px;
  }
}

/* about page */
blockquote {
  margin-top: 180px;
}